= simple_form_for @peluqueria , url: create_peluqueria_photo_path do  |f|
  .modal-body
    = f.fields_for :pictures, @peluqueria.pictures.build do |picture|
      .nested-fields
        = picture.input :caption
        = picture.input :photo
        = picture.input :user_id, input_html: {value: current_user.id}, as: :hidden
  .modal-footer
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
    = f.submit 'Save', :class => 'button btn btn-primary'
    
          
 