%p
  = @peluqueria.name 
%p
  = @peluqueria.website 
%p Telefono: #{ @peluqueria.phone }
%p Descripcion: #{ @peluqueria.description }
%p Aceptan tarjetas de credito? : #{ @peluqueria.accepts_credit_cards ? 'Yes' : 'No' }
%p Parking? : #{ @peluqueria.parking ? 'Yes' : 'No' }
= render "photo_upload" 




