%p
  = @peluqueria.name 
%p
  = @peluqueria.website 
%p Telefono: #{ @peluqueria.phone }
%p Descripcion: #{ @peluqueria.description }
%p Aceptan tarjetas de credito? : #{ @peluqueria.accepts_credit_cards ? 'Yes' : 'No' }
%p Parking? : #{ @peluqueria.parking ? 'Yes' : 'No' }
- if current_user
  / Button trigger modal
  %button.btn.btn-primary.btn-lg{"data-target" => "#photo-Modal", "data-toggle" => "modal", :type => "button"}
    Agrega una foto
  / Modal
  #photo-Modal.modal.fade{:tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4.modal-title Nueva foto
        = render 'photo_upload'


  / Button trigger modal
  %button.btn.btn-primary.btn-lg{"data-target" => "#review-modal", "data-toggle" => "modal", :type => "button"}
    Agrega a review
  / Modal
  #review-modal.modal.fade{:tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4.modal-title Nuevo review
        = render 'reviews/review_form'

        
= render 'pictures/display_photos'

%h5 Reviews
= render 'reviews/display_reviews'






