= simple_form_for [@peluqueria, @review]  do |f|
  .modal-body
    = f.input :pelu_rating, label: false, collection: 1..5, prompt: "Selecciona un rating"
    %br/
    = f.input :tittle, label: false, placeholder: "Titulo", input_html: { rows: 1 }
    %br/
    = f.input :body, label: false, placeholder: "Ingresa tu review aqui", input_html: { rows: 4 }
  .modal-footer
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Volver
    = f.submit 'Publicar', :class => 'button btn btn-primary'


    
          